  body{
    background-color: #fceef5;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: deeppink;
    border-width: 5px;
    width: 10%;
  }

  h1 {
    color: #e05297;
  }

  h3 {
    color: #e05297;
  }
